
body {
  box-sizing:border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  padding:0;
  height: 100vh;
}
nav{
  width:100%;
  display:flex;
  align-items: center;
  height:90px;
  max-width:1300px;
  margin:0 auto;
  background-color: rgb(199, 199, 211);
}

.nav--icon{
  text-decoration: none;
  display:flex;
  align-items: center;
  gap:5px;
  padding-left:10px;
  margin-right: auto;
}

.navBarLink{
  margin-right:10px;
  text-decoration: none;
}

.workout{
  display:flex;
  margin:0 auto;
  width: 100%;
  max-width: 1295px;
  gap:5px;
  
}

.weekSidebar{
  background-color: #5255F3;
  flex: 0 0 30%;
}



/* Menu.jsx css */

.optionMenu{
  padding:0;
  margin:0;
  position:fixed;
  z-index: 10000;
  width:150px;
  border-radius:5px;
  background: #5255F3;
}

.optionMenu .optionItem{
  padding:8px 10px;
  margin:0;
  font-size:15px;
  color:#eee;
  cursor:pointer;
  border-radius:inherit;
}

.optionMenu .optionItem:hover{
  background: #4f00e2;
}

/*Exercise List*/
.ExerciseList{
  padding:0;
  margin:0;
  position:fixed;
  z-index: 10000;
  width:150px;
  border-radius:5px;
  background: #6b2020;
}

/*Homepage */

 .homepage--container{
  margin:auto;
  width:1300px;
  background-color: beige;
  height:900px;
 }
.logo{
  width:50px;
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
}
.tag1{
  font-size:24px;
  font-weight: 700;
}

.hero--tag{
  color:#000000;
  font-size:52px;
  font-weight: 500;
}
.hero{
  display:flex;
  align-items: center;
  margin-left:75px;
  width: 1300px;
  height:400px;
  
}

.hero ul{
  display:flex;
  flex-direction: column;
  gap:10px;
  width: 500px;
}

.hero img{
  width: 500px;
  height:500px;
}
.hero button{
  width: 175px;
  padding:8px;
  font-size:20px;
  border-radius: 5px;
  border-style: none;
  background-color:#5255F3 ;
  font-family: "Public Sans";
  color:white;

}

.tag2{
  font-size: 17px;
  font-weight: 400;
}

/*Programs */

.Program--container{
  padding-top:30px;
  display:flex;
  margin:auto;
  gap:10px;
  width:1300px;
}
.Programs{
  display:flex;
  text-decoration: none;
  flex-direction: column;
  gap:10px;
}

.programPic{
  width:300px;
  height:200px;
  border-radius: 10px;
}